*{
    padding: 0;
    margin: 0;
}

/*    HEADER    */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-left: 30px;   
}
header .brand{
    height: 50px;
}
header .navbar_icon{
    display: flex;
    height: 100%;
    align-content: center;
    position: absolute;
    right: 50px;
}
header .navbar_icon img{
    height: 16px;
    margin: auto 30px;
}

/*     WRAPPER     */
.wrapper{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    position: relative;    
}

/*     SLIDES      */
.slider{
    position: relative;
    width: 100%;
    height: 100vh;
}
.slider-1{
    background-color: lightgray;
}
.slider-2{
    background-color: orangered;
}
.slider img.sneaker_logo{
    position: absolute;
    top: 40px;
    left: 130px;
    opacity: .1;
}
.slider div.sneaker_info{
    position: absolute;
    top: 200px;
    right: 55%;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
    justify-items: start;
    align-items: center;
    font-family: sans-serif;  
}
div.sneaker_info h1.sneaker_model{
    font-size: 40px;
    margin-bottom: 15px;
}
div.sneaker_info p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
div.sneaker_info h2{
    margin-bottom: 20px;
    font-size: 34px;
    font-family: sans-serif;
    font-weight: 100;
}
div.sneaker_info button{
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    cursor: pointer;
}
button.add_button_1{
    background-color: brown;
}
button.add_button_2{
    background-color: blue;
}

.slider img.sneaker_image{
    position: absolute;
    width: 60%;
    top: 150px;
    right: 150px;
    transform: rotate(-26deg);
}

/*     CONTROL     */
.slider_control{

    z-index: 8;
    width: 120px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    right: 45px;
}
.control{
    width: 45px;
    height: 45px;
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.control img{
    height: 15px;
}

/*    RRSS      */
.rrss_box{
    width: 320px;
    height: 80px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.rrss_box div.line{
    margin-left: 20px;
    width: 90px;
    height: 1px;
    background-color: white;
}
.rrss_box img{
    opacity: .9;
    height: 18px;
    float: left;
    margin-left: 35px;

}
